@keyframes running-line-animation {
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}

.running-line{
  overflow: hidden;
  border: 1px solid;

  .running-line__content{
    display: flex;
    width: fit-content;
    animation: running-line-animation 30s linear infinite;

    .running-line__text{
      white-space: nowrap;
      margin-right: 120px;

      font-size: 12px;
      font-weight: 500;
    }
  }
}

